*.synctex.gz
.project
output/
dokumentation.pdf
T2000*.pdf
*.swp
*.backup
*.bak
*.orig
*compile.log
*blx.bib
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lol
*.lot
*.xml
*.toc
*.bkp
*.dtmp